.header {
    background-color: #D40B0B;
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 60px;
    border: solid black .5px;
    border-bottom: .25px;
}

.menu {
    width: 100vw;
    height: 100px;
    display: flex;
    background-color: #999AAD;
    justify-content: center;
    align-items: center;
}

.menuOption {
    display: flex;
    border: solid black .5px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50vw;
    font-size: 40px;
    border-bottom: .25px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #D9D9D9;
    width: 100vw;
    height:100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    flex-direction: row;
}

.createOptions {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    min-width: 20em;
    min-height: 5em;
    max-width: 20em;
    max-height: 5em;
    background-color: #999AAD;
    margin: 60px;
    padding: 0;
    border: solid black .5px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40em;
    height: 5em;
}

.labelPg1 {
    font-size: 20px;
    padding-right: 10px;
}

.option {
    font-size: 20px;
}

.pageLink {
    text-decoration: none;
    color: black;
}

.pageLink:hover {
    text-decoration: underline;
    color: cyan;
}

.nextBack {
    width: 100vw;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999AAD;
}

.back, .next {
    display: flex;
    border: solid black .5px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50vw;
    font-size: 40px;
}

.nextBackLink {
    text-decoration: none;
    color: black;
}

.nextBackLink:hover {
    text-decoration: underline;
    color: cyan;
}

.skill {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    min-width: 20em;
    min-height: 5em;
    max-width: 20em;
    max-height: 5em;
    background-color: #999AAD;
    margin: 60px;
    padding: 0;
    border: solid black .5px; 
}

.label {
    font-size: 20px;
}

.spellLevel {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    min-width: 40em;
    min-height: 20em;
    max-width: 40em;
    max-height: 20em;
    background-color: #999AAD;
    margin: 60px;
    padding: 0;
    border: solid black .5px;
}

.loadCharacter {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color: #999AAD;
    margin: 0;
    border: solid black .5px;
}

.info {
    text-align: center;
}

#nav {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#nav li a {
    display: block;
    padding: 0;
    text-decoration: none;
    width: 200px;
    line-height: 35px;
    color: #ffffff;
  }
  
#nav li li a {
    font-size: 80%;
}
  
#nav li:hover {
    background: #D40B0B;
}
  
#nav ul {
    padding: 0;
    left: 0;
    display: none;
}
  
#nav li:hover ul ul {
    display: none;
}
  
#nav li:hover ul {
    display: block;
    position: relative;
}
  
#nav li li:hover ul {
    display: block;
}

#nav li a:hover {
    color: cyan;
}

.container {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.characterSheet {
    display: flex;
    height: 95%;
    width: 95%;
    background-color: white;
    border: solid black 2px;
    border-radius: 10px;
}

#resultList li:hover {
    color:#D40B0B;
    text-decoration-line: underline;
}

#resultList li:hover p {
    text-decoration-line: none;
    color: black;
    display: inline-block;
}

.spellLevel {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

.searchInput {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.spellLevel ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.spellLevel li {
    padding: 5px 0;
}

body {
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: fantasy;
    background-color: #D9D9D9;
}